:root {
  --black: #181818;
  --white: #FFFFFF;
  --yellow: #F7BE16;
  --light-grey: #D0D0D0;
  --dark-grey: #707070;

  --light-weight: 400;
  --medium-weight: 500;
  --heavy-weight: 600;
  --display-weight: 900;

  --small: 0.75em;
  --medium: 1.25em;
  --large: 1.5em;
  --larger: 2.5em;
  --display: 5em;

  --display-font: 'Playfair Display';
  --main-font: 'Work Sans';

  --width-large: 50%;
  --width-medium: 65%;
  --width-small: 75%;
}

@media (max-width: 1080px) {
  :root {
    font-size: 16px;
    --small: 1em;
    --medium: 1.25em;
    --large: 1.5em;
    --larger: 2.5em;
    --display: 4em;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 12px;
    
    --medium: 1.5em;
    --large: 1.75em;
    --display: 3.5em;
  }
}